  <!-- Page -->
  <%= stylesheet_link_tag 'pages/authentication.css', media: 'all' %>

<!--
=================================================================
**************************** CONTENT ****************************
-->

<div class="authentication-wrapper authentication-4 px-4">
  <div class="authentication-inner py-5">

    <%= render 'devise/confirmations/new_form' %>

  </div>
</div>

