<div class="card">
  <div class="card-body p-5">
    <div class="text-center my-3">
      <h4 class="my-4 text-success"><%= I18n.t('mains.peru_annoucement_title') %></h4>
    </div>
    <p class="mx-5 text-justify" style="font-size: 17px;">
      Hemos notado que has intentado ingresar a tu cuenta a través del portal de Lumni. Como se indica en el correo electrónico que recibiste el viernes 26 de junio de 2020, las gestiones asociadas a tu contrato están siendo manejadas por FONDO TALENTO PERÚ, institución que apostó por tu talento y financió tus estudios.
      <br>
      <br>
      Por ello, a partir del 01 de julio de 2020 nos encontramos trabajando en la migración de datos a una nueva plataforma que estamos implementando. 
      <br>
      <br>
      Para consultas, solicitudes, pagos y actualizaciones, puedes comunicarte con el asesor que tienes asignado, como se indica en el correo electrónico que recibiste.
      <br>
      <br>
      Si tienes alguna dificultad de contacto o no recibiste el comunicado, por favor escríbenos a <a href="mailto:asesor2@fondotalento.com">asesor2@fondotalento.com</a> , para poder ayudarte. <br>
      <br>
      <br>
      ¡Gracias!
      <br>
      <br>
      FONDO TALENTO PERÚ
    </p>
    <div class="row">
    </div>
  </div>
</div>