<div class="card">
  <div class="card-body p-5">
    <div class="text-center my-3">
      <h4 class="my-4 text-success"><%= I18n.t('mains.usa_annoucement_title') %></h4>
    </div>
    <p class="mx-5 text-justify" style="font-size: 17px;">
      Thanks for your interest in Lumni.
      <br>
      <br>
      Unfortunately, at the moment, Lumni doesn’t have <strong>new</strong> funds available to finance students through ISAs in the USA.
      <br>
      <br>
      If you already have an account, you can log in as usual.
      <br>
      <br>
      Lumni Team
    </p>
    <div class="row">
    </div>
  </div>
</div>