        <div class="text-center my-3"><h4 class="my-4 text-warning"><%= I18n.t('questionnaire.review') %></h4></div>
        <p class="mx-5 text-center"><%= I18n.t('questionnaire.reviewing_information') %></p>
        <div class="row">
          <div class="col text-center" style="padding: 1rem;font-size: 40px">
            <i class="fas fa-clock text-warning"></i>
          </div>
        </div>
