<div class="text-center my-3">
    <h4 class="my-4 text-success"><%= I18n.t('form.interview_title') %></h4>
</div>
<p class="mx-5 text-center"><%= I18n.t('form.interview_text') %></p>
<div class="row">
<div class="col text-center" style="padding: 1rem;font-size: 40px"> <br></div><br></div>