<%= render 'students/partial/students_header' %>


<div class="nav-tabs-top">
  <%= render 'students/partial/tabs' %>

  <div class="tab-content bg-light">


    <div class="tab-pane fade show active" id="support-team-tab" >
      <div class="card" style="border: none">
        <div class="card-body">

          <%= create_team_support_table (@student) %>
        </div>
      </div>
    </div>


  </div>
</div>


