
<%= render '/isa_statuses/partial/status_body', isa: isa, status_case: 'academic_status' %>


<!-- Modal template -->
<div class="modal modal-slide fade" id="academic_status_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
      <div class="py-4 px-2" id='academic_status_modal_container'>


        <%= render '/isa_statuses/partial/academic_status_modal_body', isa: isa %>


      </div>
    </div>
  </div>
</div>