<div class="modal fade" id="new_team_supervisor" tabindex="-1" role="dialog" aria-labelledby="new_team_supervisorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <% team_supervisor = TeamSupervisor.new({team_member_id: @student.nil? ? params[:teamsupervisor][:team_member_id] : @student.id}) %>
	      <%= build_form(team_supervisor,'create',current_user.template('TeamSupervisor','team_supervisors',current_user), controller: 'team_supervisors', html: { class: 'form-group', method: 'post'}, remote: :true)%>
      </div>
    </div>
  </div>
</div>
