<div class="bg-primary text-center text-white font-weight-bold p-1" id="notification-count-bell">
<%= I18n.t('mains.notification_count',notification_count: current_user.notifications_count) %>
</div>
