<%= render 'applicants/partial/applicant_personal_information' %>

<div class="nav-tabs-top">
  <%= render 'applicants/partial/tabs' %>

  <div class="tab-content bg-light">

    <div class="tab-pane fade show active" id="user-project">
      <div class="card">
        <div class="card-body">
          <%= render 'projects/partials/project_body', project: @applicant.projects.first %>
        </div>
      </div>
    </div>

  </div>
</div>


