<% startTag = '<' + '%=' %>
<% endTag = '%' + '>' %>
<%= startTag %> form_title(@<%= file_name.singularize.underscore %>,I18n.t('mains.new')) <%= endTag %>
<%= startTag %> build_form(@<%= file_name.singularize.underscore %>,'create',current_user.template('<%= file_name.singularize.camelize %>','<%= file_name.pluralize.underscore %>',current_user),html: { class: 'form-group'}) <%= endTag %>
