<div class="knob-progress" >
   <div class="text-center">
    <strong><small class="mb-1 d-block"><%= I18n.t('project.' + @scenario)%></small></strong>
      <input type="text" data-width="100" data-height="100" value="<%= @percentage %>" data-fgcolor="<%= @color %>" data-readOnly="true">
  </div>   
</div>
