
<%= form_tag edit_dashboard_path(params[:id]),method: :get do %>
<div class="row">
	<div class="col-md-3 my-2">
		<label class="form-label">Convocatorias</label>
		<%= lumni_dropdown_field( 'references','funding_opportunity',{type: 'multiple_dropdown',list: @funding_opportunity_list,value: @funding_opportunities}) %>
	</div>
	<div class="col-md-3 my-2 d-flex">
		<%= button_tag 'Buscar', class: 'btn btn-primary align-self-end' %>
	</div>
</div>
<% end %>

<%= createTable(@references_data,references_template, title: false, new: false).html_safe %>