/* line 2, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
h1, .h1 {
  font-size: 112px;
}

/* line 6, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
h2, .h2 {
  font-size: 100px;
}

/* line 10, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
h3, .h3 {
  font-size: 88px;
}

/* line 14, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
h4, .h4 {
  font-size: 76px;
}

/* line 18, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
h5, .h5 {
  font-size: 60px;
}

/* line 22, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
h6, .h6 {
  font-size: 52px;
}

/* line 26, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
body {
  font-size: 48px;
  background-color: white;
}

/* line 31, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
div.alwaysbreak {
  page-break-before: always;
}

/* line 32, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
div.nobreak:before {
  clear: both;
}

/* line 33, /home/yan/Documents/Lumni/code/platform-4.0/app/assets/stylesheets/pdf/pdf.css.scss */
div.nobreak {
  page-break-inside: avoid;
}
