<% target_id = targetRecord.id.nil? ? form_key : targetRecord.id %>

<div id="funding_info_container_<%= target_id %>" class="my-4">
	<div id="disbursement_detail_container<%= target_id %>">

	</div>
</div>

