
<a href="#" class="text-<%= @form_label.id.nil? ? 'danger createFormValueLabel' : 'primary updateFormValueLabel'%> " data-toggle="modal" data-target="#formFieldValueLabelModal" id="<%= @form_label_id %>">
	<%= @labelText %>
</a>