<li class="sidenav-item">
  <a href="#" data-toggle="collapse" data-target="#applications" class="sidenav-link sidenav-toggle" >
    <i class="sidenav-icon ion ion-ios-bulb"></i><%= I18n.t('mains.applications')%>
  </a>
  <ul class="sub-menu collapse" id="applications">
    <li class="sidenav-item">
      <a href="<%= applications_path %>" class="sidenav-link "><%= Application.model_name.human(count: 2) %></a>  		
    </li>
  </ul>
</li>