<%= search_form_for @ransack, class: 'row' do |f| %>
  <div class="col-sm-12 col-md-8"></div>
  <div class="col-sm-12 col-md-4">
    <div class="input-group mb-3">
      <%= f.search_field :full_text_search, class: 'form-control', placeholder: t('general.search') %>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="ion ion-ios-search navbar-icon align-middle"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
