<div class="card my-2">
	<div class="card-body bg-warning my-0 p-0">
		<div class="d-flex">
			<div class="d-inline-flex align-self-center mx-4">
				Por la emergencia sanitaria del Covid-19 hemos habilitado opciones de pago para que puedas pasar este periodo con la comodidad que necesitas. 
			</div>
			<div class="d-inline-flex">
				<div class="mx-4 my-2">
					<%= link_to 'Más información', current_user.isa.first.active_billing_document, class: 'btn btn-primary' %>
				</div>
			</div>
		</div>
	</div>
</div>