<div class="d-flex">
	<h5 class="flex-fill text-primary mx-2 my-0">
		<%= I18n.t('list.' + debt.type_of_debt) %>
	</h5>
	<h5 class="flex-fill text-right mx-2 my-0"> 
		<%= debt.amount %>
	</h5>
</div>
