<div class="card" style="border: none;">
	<div class="card-body p-0">
		<% academics = target_user.academics %>
		<% headers = academics.map{|academic| render('/students/partial/academic_information_header',academic: academic)}%>
		<% bodies = [] %>

		<% academics.each do |academic| %>
	      <% current_hash[:object] = academic %>
	      <% current_hash[:index] = index %>
	      <% bodies += [render('/students/partial/general_form',current_hash)] %>
		<% end %>

		<%= build_accordion headers,bodies %>
	</div>
</div>